{% extends "kunyutex/layout/base.html" %}

{% block title %}首页--苏州坤裕纺织品有限公司{% endblock %}

{% block left %}
<div id="left">
		                        <div id="MODBLK_246" class="mod_block mb_u6pugc7T_block">
                                    <h3 class="blk_t">关于我们</h3>
                                    <div class="list_con company_intro">
                                        <p>
	                                        &nbsp;<img src="/upload/image/20130408230431_76524.png" width="200" height="123" align="left" alt=""
                                                       style="padding-top:4px;padding-right:8px;"/>&nbsp; &nbsp; &nbsp;苏州坤裕纺织品有限公司是吴江市坤鸿喷织厂下属进出口子公司，是一个集化纤织造，染色，后整理于一体的综合性纺织品公司。公司本部坐落于江、浙、沪三省交界又地处太湖流域，南临京杭大运河，北靠318国道，水陆交通便利，有优越的地理位置。
                                        </p>
                                        <p>
	                                        &nbsp; &nbsp; &nbsp;&nbsp;我司拥有一批优秀的工程技术人员和一支训练有素的职工队伍致力于工艺的开发研究并以“质量第一，信誉为上”企业宗旨，开拓进取不断创新，形成“高档产品技术领先，常规产品质优价廉”的经营特色，以此吸引众多外商。
                                        </p>
                                        <p>
	                                        &nbsp; &nbsp; &nbsp;&nbsp;在坯布织造方面，公司拥有进口喷水、喷气800余台，倍捻机500台套，及进口的整、浆、并设备五……
                                        </p>
                                        <div class="list_more"><a
                                                href="index.php?_m=mod_static&_a=view&sc_id=2"><img src="template/fangzhi-110118-a11/images/more_37.jpg"
                                                                                                    width="32" height="9" border="0"/></a>
                                        </div>
                                    </div>
                                    <div class="list_bot"></div>
                                </div>
                                <div id="MODBLK_240" class="mod_block mb_l13F4sft_block">
                                    <h3 class="blk_t">产品展示</h3>
		                            <div class="newprod">
				                        <div class="newprod_top"></div>
				                        <div class="newprod_con">
                                            <div class="pro_over">
	                                            <table class="media_grid" cellspacing="4" width="100%">
		                                            <tr>
                                                        <td>
                                                            <div class="newprod_list">
				                                                <div class="newprod_pic">
                                                                    <a href="index.php?_m=mod_product&_a=view&p_id=311"
                                                                       title="黑色粗斜 (TWILL TAFFETA)"><img name="picautozoom" border="0"
                                                                                                         alt="黑色粗斜 (TWILL TAFFETA)"
                                                                                                         src="upload/image/heisecuxie TWILL TAFFETA(1)_lit.jpg"
                                                                                                         class="prodthumb"/>
                                                                    </a>
                                                                </div>
                                                                <div class="newprod_name">
                                                                    <a
                                                                            href="index.php?_m=mod_product&_a=view&p_id=311">黑色粗斜 (TWILL TAFFETA)
                                                                    </a>
                                                                </div>
                                                                <div class="blankbar1"></div>
                                                            </div>

                    </td>
                    <td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?_m=mod_product&_a=view&p_id=310"
                                            title="阳离子人字斜提花 (TAFFETA JACQUARD)"><img name="picautozoom" border="0"
                                                                                     alt="阳离子人字斜提花 (TAFFETA JACQUARD)"
                                                                                     src="upload/image/yanglizirenzixietihua TAFFETA JACQUARD(1)_lit.jpg"
                                                                                     class="prodthumb"/></a></div>
                <div class="newprod_name"><a href="index.php?_m=mod_product&_a=view&p_id=310">阳离子人字斜提花 (TAFFETA JACQUARD)</a></div>

                    </div>
                <div class="blankbar1"></div>
            </div>

                                            </td>
                                            <td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?_m=mod_product&_a=view&p_id=309"
                                            title="条子涤塔夫 (TAFFETA STRIP)"><img name="picautozoom" border="0"
                                                                               alt="条子涤塔夫 (TAFFETA STRIP)"
                                                                               src="upload/image/tiaoziditafu TAFFETA STRIP(1)_lit.jpg"
                                                                               class="prodthumb"/></a></div>
                <div class="newprod_name"><a href="index.php?_m=mod_product&_a=view&p_id=309">条子涤塔夫 (TAFFETA STRIP)</a></div>

                    </div>
                <div class="blankbar1"></div>
            </div>

                                        </td>
                                        <td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?_m=mod_product&_a=view&p_id=308"
                                            title="400T格子涤塔夫 (TAFFETA RIP-STOP)"><img name="picautozoom" border="0"
                                                                                      alt="400T格子涤塔夫 (TAFFETA RIP-STOP)"
                                                                                      src="upload/image/(10)_lit.jpg"
                                                                                      class="prodthumb"/></a></div>
                <div class="newprod_name"><a href="index.php?_m=mod_product&_a=view&p_id=308">400T格子涤塔夫 (TAFFETA RIP-STOP)</a></div>

                    </div>
                <div class="blankbar1"></div>
            </div>

                                    </td></tr>
                                    <tr>			<td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?_m=mod_product&_a=view&p_id=307"
                                            title="300T涤塔夫 (TAFFETA)"><img name="picautozoom" border="0"
                                                                           alt="300T涤塔夫 (TAFFETA)"
                                                                           src="upload/image/(9)_lit.jpg"
                                                                           class="prodthumb"/></a></div>
                <div class="newprod_name"><a
                        href="index.php?_m=mod_product&_a=view&p_id=307">300T涤塔夫 (TAFFETA)</a></div>

                    </div>
                <div class="blankbar1"></div>
            </div>

    </td>
    <td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?_m=mod_product&_a=view&p_id=306"
                                            title="300T多F涤塔夫 (TEFFETA)"><img name="picautozoom" border="0"
                                                                             alt="300T多F涤塔夫 (TEFFETA)"
                                                                             src="upload/image/(8)_lit.jpg"
                                                                             class="prodthumb"/></a></div>
                <div class="newprod_name"><a
                        href="index.php?_m=mod_product&_a=view&p_id=306">300T多F涤塔夫 (TEFFETA)</a></div>

                    </div>
                <div class="blankbar1"></div>
            </div>

</td>
        <td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?_m=mod_product&_a=view&p_id=305"
                                            title="230T斜纹绸 (TWILL TAFFETA)"><img name="picautozoom" border="0"
                                                                                 alt="230T斜纹绸 (TWILL TAFFETA)"
                                                                                 src="upload/image/(4)_lit.jpg"
                                                                                 class="prodthumb"/></a></div>
                <div class="newprod_name"><a
                        href="index.php?_m=mod_product&_a=view&p_id=305">230T斜纹绸 (TWILL TAFFETA)</a></div>

                    </div>
                <div class="blankbar1"></div>
            </div>

    </td>
    <td>
            <div class="newprod_list">
				<div class="newprod_pic"><a href="index.php?_m=mod_product&_a=view&p_id=304"
                                            title="210T涤塔夫迷彩印花 (TAFFETA PRINT)"><img name="picautozoom" border="0"
                                                                                     alt="210T涤塔夫迷彩印花 (TAFFETA PRINT)"
                                                                                     src="upload/image/(7)_lit.jpg"
                                                                                     class="prodthumb"/></a></div>
                <div class="newprod_name"><a href="index.php?_m=mod_product&_a=view&p_id=304">210T涤塔夫迷彩印花 (TAFFETA PRINT)</a></div>

                    </div>
                <div class="blankbar1"></div>
        </div>

    </td></tr>    </table>
</div>
</div>
				<div class="list_bot"></div>
</div>
			<div class="blankbar"></div>


</div></div>

{% endblock %}